.cartItemContainer {
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  padding: 20px 8px;
  width: 50vw;
  max-width: 1300px;
  min-width: 150px;
  margin: 0 10px 0 0;
}
.container {
  display: flex;
}
/* .imgAndcontent {
  display: flex;
  align-items: center;
} */

/* .contentBox {
  flex-grow: 1;
} */

.countbtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 8rem;
}

.countbtnBox button {
  border: 0;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 100;
}

.info {
  /* border: 1px solid red; */
  margin-left: 1em;
}

.gift {
  font-size: small;
}

.img {
  width: 100px;
}

.cntBox {
}

.btnSet {
  display: flex;
  flex-direction: column;
}
.buybtn {
  border: 1px solid #dddddd;
  height: max-content;
  padding: 10px 1.8rem;
  border-radius: 4px;
  background-color: transparent;
}

.deletebtn {
  background-color: #95aa3e31;
  border: 0;
  padding: 5px 0.2rem;
  border-radius: 5px;
  margin-top: 6px;
}
