.cartItemContainer {
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 20px 8px;
  width: 800px;
  margin: auto;
}
.container {
  display: flex;
}

.countbtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 8rem;
}

.countbtnBox button {
  border: 0;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 100;
}

.info {
  margin-left: 1em;
}

.gift {
  font-size: small;
}

.img {
  width: 100px;
}

.btnSet {
  display: flex;
  flex-direction: column;
}
.buybtn {
  border: 1px solid #dddddd;
  height: max-content;
  padding: 10px 1.8rem;
  border-radius: 4px;
  background-color: transparent;
}

.deletebtn {
  background-color: #6c801ae1;
  color: white;
  border: 0;
  padding: 5px 0.2rem;
  border-radius: 5px;
  margin-top: 6px;
}
