.container {
  /* border: solid 2px blue; */
  padding-top: 10rem;
}
.item_info {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 70vw;
  min-width: 30vw;
  margin: auto;
}

.leftbox {
  /* border: solid 2px red; */
  /* position: relative; */
  /* float: left; */
  width: 30vw;
  height: 100vh;
}

.item_layout {
  position: relative;
  margin: auto;
  height: 70vh;
  padding: 30px 43px 110px;
  background: #f8f9fb;
}

.imgbox {
  max-width: 490px;
  margin: auto;
}
.img {
  width: 100%;
  margin: 10px;
}

.buyer_benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: 23px;
  left: 16px;
  align-content: space-between;
  font-size: 15px;
  color: #454242ad;
  margin: 6px;
  padding: 1.4rem;
  margin: auto;
}

.items {
  background-color: #ececec00;
  margin: 3px;
}

.rightbox {
  /* border: solid 2px yellow; */
  position: relative;
  float: right;
  width: 49%;
  padding: 10px;
}

.productName {
  font-size: 2rem;
  margin: 1rem 10px;
}

.produtContent {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.btnAndPriceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ececec;
}

.btnAndPriceBox p {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 10px;
}
.smallbtnset {
  overflow: hidden;
}

.smallbtnset button {
  border: solid 2px rgba(255, 0, 0, 0);
  width: 2.6rem;
  height: 2.6rem;
  margin: 5px;
  background-color: #f8f9fb;
  cursor: pointer;
  border-radius: 50px;
}

.urlbtn {
  background: url(https://www.osulloc.com/kr/ko/static_renew/images/item_detail/ic_url.png?quality=80);
  background-size: cover;
}

.urlbtn:hover {
  background: url(https://www.osulloc.com/kr/ko/static_renew/images/item_detail/ic_url_on.png?quality=80)
    50% 50% no-repeat;
  background-size: cover;
}

.fbtn {
  background: url(https://www.osulloc.com/kr/ko/static_renew/images/item_detail/ic_facebook.png?quality=80);
  background-size: cover;
}

.fbtn:hover {
  background: url(https://www.osulloc.com/kr/ko/static_renew/images/item_detail/ic_facebook_on.png?quality=80)
    50% 50% no-repeat;
  background-size: cover;
}

.productbottombox {
  background-color: #f8f9fb;
  border: 1px solid #efefef;
  padding: 1rem 10px;
  margin: 1rem 0;
}

.productflexbox {
  display: flex;
  justify-content: space-between;
  font-size: large;
  height: 50px;
  font-weight: 100;
  align-items: center;
  margin: 11px;
}

.productcount {
  display: flex;
  width: 100px;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.productcount button {
  margin: 10px;
  background-color: #f8f9fb;
  border-color: #f8f9fb00;
  font-size: 2rem;
}

.package {
  background-color: white;
  border-radius: 0px;
  margin: 10px;
}

.delivery {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin: 10px;
}
.price {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.spanPrice {
  display: absolute;
  font-size: 1.5rem;
  left: 0;
  bottom: 0;
  height: 30px;
  color: #6c801a;
}

.totalPrice {
  display: absolute;
  right: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.buyBtnSet {
  display: flex;
}

.buyBtnSet button {
  width: max-content;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 300;
}

.giftBtn {
  padding: 1rem 1.7rem;
  margin: 0 7px 0 0;
  background-color: white;
  border-width: 1px;
  cursor: pointer;
}

.cartBtn {
  padding: 1rem 1.7rem;
  background-color: #313131;
  color: white;
  border: none;
  cursor: pointer;
}

.buyBtn {
  padding: 1rem 2.5rem;
  flex-grow: 1;
  background-color: #6c801a;
  color: white;
  border: none;
  cursor: pointer;
}
