.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em 0 5em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
  z-index: 10;
}

.dark {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em 0 5em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
  z-index: 10;
}

.logoImg {
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  text-align: right;
  position: relative;
}

.statusLogin {
  display: flex;
}

.cartBtn {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: white;
}

.myCartNum {
  background-color: olive;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 0em;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: -10px;
  left: 15px;
}

.link {
  margin-left: 1em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
