.card {
  width: 15em;
  display: flex;
  flex-direction: column;
  position: relative;
  /* transform: translateX(-15em); */
}

.card:hover .btnCart {
  cursor: pointer;
  display: block;
}

.btnCart {
  position: absolute;
  top: 13em;
  right: 0.4em;
  width: 2.2em;
  height: 2.2em;
  padding: 0.34em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1;
  display: none;
}

.img {
  cursor: pointer;
  height: 250px;
}

.info {
  margin: 2em 0 0 1em;
}

.price {
  padding-top: 0.4em;
  font-size: 1.4em;
}
